[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
pdb = "*"
pylint = "*"
pep8 = "*"
autopep8 = "*"
yapf = "*"

[packages]
django = "*"
psycopg2 = "*"
django-registration = "*"
jinja2 = "*"
django-material = "*"
django-materialize = "*"
django-materializecss-form = "*"
pylint-django = "*"
fitz = "*"
pymupdf = "*"

[requires]
python_version = "3.7"
