[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"
yapf = "*"

[packages]
django-debug-toolbar = "*"
django = "*"
psycopg2 = "*"
django-registration = "*"
jinja2 = "*"
django-materializecss-form = "*"
pylint-django = "*"
pymupdf = "*"
django-livereload-server = "*"
django-clear-cache = "*"
nltk = "*"
django-materialize = "==1.0.1a2"
pymystem3 = "*"
numpy = "*"
bigartm = "*"
pandas = "*"
protobuf = "==3.0.0"
fitz = "==0.0.1.dev2"
tqdm = "*"
packaging = "*"
ppretty = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
