[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
django-registration = "*"
jinja2 = "*"
django-material = "*"
django-materialize = "*"
django-materializecss-form = "*"

[requires]
python_version = "3.7"
