{% extends 'navbar.html' %}
{% load tz %}

{% block title %}
Thematic model
{% endblock title %}

{% block section %}
<div class="container">
    <div class="divider"></div>
    <div class="section">
        <h3>Thematic model: {{t_model.id}}</h3>
        <p class="truncate">Creator: {{t_model.user.username|capfirst}}</p>
        <p class="truncate">Created: {{ t_model.created|date:"M d, Y"}}</p>
        <p class="truncate">Score perplexity: {{ t_model.perplexity_score}}</p>
        <p class="truncate">Score sparsity-phi: {{ t_model.sparsity_phi_score}}</p>
        <p class="truncate">Score sparsity-theta: {{ t_model.sparsity_theta_score}}</p>
        <p class="truncate">Num topics: {{ t_model.num_topics}}</p>
        <p class="truncate">Num tokens: {{ t_model.num_tokens}}</p>
        <p class="truncate">Regularizer phi-tau: {{ t_model.phi_tau}}</p>
        <p class="truncate">Regularizer theta-tau: {{ t_model.theta_tau}}</p>
        <p class="truncate">Regularizer decorr-tau: {{ t_model.decorr_tau}}</p>
        <p>Documents:
            {% for item in t_model.pdf_docs.all %}
            <a href="/document/{{item.doc.id}}">{{item.doc.name}} </a>
            {% endfor %}
        </p>
        <div class="row">
            {% for key, value in t_model.topic_dictionary.items %}
            <div class="col s4">
                <p class="truncate">
                    {{key}}
                    {% for v in value %}
                    <p class="truncate">
                        {{v}}
                    </p>
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock section %}