{% extends 'navbar.html' %}
{% load tz %}

{% block title %}
Thematic model
{% endblock title %}

{% block section %}
<div class="container">
    <div class="divider"></div>
    <div class="section">
        <h3>Thematic model: {{t_model.id}}</h3>
        <p class="truncate">Create: {{t_model.user.username|capfirst}}</p>
        <p class="truncate">Created: {{ t_model.created|date:"M d, Y"}}</p>
        <p class="truncate">Score perplexity: {{ t_model.perplexity_score}}</p>
        <p class="truncate">Score sparsity-phi: {{ t_model.sparsity_phi_score}}</p>
        <p class="truncate">Score sparsity-theta: {{ t_model.sparsity_theta_score}}</p>

        <div class="row">
            <p>Documents:</p>
            {% for item in t_model.pdf_docs.all %}
            <div class="col">
                <p class="truncate"><a href="/document/{{item.doc.id}}">{{item.doc.name}}</a></p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for key, value in t_model.topic_dictionary.items %}
            <div class="col s4">
                <p class="truncate">
                    {{key}}
                    {% for v in value %}
                    <p class="truncate">
                        {{v}}
                    </p>
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock section %}