{% extends 'navbar.html' %}

{% block title %}
Document
{% endblock title %}

{% block section %}
<div class="container">
    <h3 class="truncate">{{doc.name|capfirst}}</h3>
    <p class="truncate">Author: {{doc.author|capfirst}}</p>
    <p class="truncate">Loader: {{doc.user.username|capfirst}}</p>
    <p class="truncate">Filename: {{filename|capfirst}}</p>
    <p>Extension: {{file_ext}}</p>

    {% if doc.is_parsed == False %}
    <a id="parser-link" href="?parser=true" onclick="return disableLink(this);">Parser</a>
    {% endif %}

    {% if doc.is_parsed == True %}
    <h3>{{ chartTitle|safe }}</h3>
    <div id="chart-1">{{ output|safe }}</div>
    {% endif %}
</div>


{% endblock section %}